[user]
	email = vincenthardouin@icloud.com
	name = Vincent Hardouin
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDZigDNy8iHpHM3KyDOcUddkMrlLVjlnX23GoJMPcpUO
[includeIf "gitdir:~/dev/pix/"]
	path = ~/dev/pix/.gitconfig-pix

[core]
	editor = vim
	autocrlf = input
	excludesfile = /Users/vincenthardouin/.gitignore_global
[alias]
	# Pop your last commit out of the history! No change lost, just unindexed
  pop = reset HEAD^
	# Add a file/directory to your .gitignore
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[commit]
	verbose = false
	gpgsign = true
[rebase]
	autosquash = true
	autoStash = true
	updateRefs = false
[init]
	defaultBranch = main
[branch]

[gpg]
  format = ssh
[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
