# Git
# ---
alias ga="git add ."
alias gap="git add -p"
alias gf="git pull --rebase"
alias gfix='f() { git commit -m "Fix $1" };f'
alias gi="git ignore"
alias gk="git clone"
alias gl="git log --graph --decorate --pretty=oneline --abbrev-commit"
alias gn="git rebase --continue"
alias go="git checkout"
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gs="git status"
alias gra="git rebase --abort"
alias gri="git rebase -i"
alias gx="git reset HEAD --hard"
alias gy="git commit --amend --no-edit"
alias gay="git commit --all --amend --no-edit"

# Git Alias w/ bash script or .gitconfig
# ---
alias gw="git wip"
alias gu="git unwip"
alias gpop="git pop"

# NPM
# ---
alias nb="npm run build"
alias nd="npm run dev"
alias nc="npm run clean"
alias nci="npm ci"
alias ni="npm install --no-optional"
alias nid="npm install --save-dev"
alias nig="npm install --global"
alias nl="npm run lint"
alias nlf="npm run lint:fix"
alias np="npm publish"
alias ns="npm start"
alias nr="npm run"
alias nt="npm test"
alias nu="npm uninstall"
alias nw="npm run watch"
alias ny="npm run test:watch"
alias nx="npx"

# Docker
# ---
alias dcd="docker-compose down"
alias dcu="docker-compose up -d"

# THEFUCK
# ---
eval $(thefuck --alias)
